
body,h1,h2,h3,h4,h5,h6 {font-family:"Times New Roman", Times, serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: contain;
  background-size: 75% auto;
  background-repeat: no-repeat;
  background-image: url("Images/ABRI_Logo.png");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}

.tab {
            display: inline-block;
            margin-left: 40px;
}